[Unit]
Description=Discoze Website App
After=network.target

[Service]
ExecStart=/home/ubuntu/discoze_website/venv/bin/reflex run
WorkingDirectory=/home/ubuntu/discoze_website
User=ubuntu
Group=ubuntu
Restart=always
Environment="API_URL=https://backend.discoze.com"

[Install]
WantedBy=multi-user.target